html {
    font-family: sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    font-weight: bold;
    font-size: 320%;
    color: #558564;
    text-align: center;
}

form {
    max-width: 50em;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

input {
    border-radius: 0.2em;
    padding: 0.3em 0.2em 0.05em;
    font-size: 160%;
    margin-bottom: 0.75em;
}

input[type="text"] {
    border: thin solid #564946;
    outline-color: #564946;
    background-color: white;
    color: black;
    text-align: left;
    flex: auto;
    width: 100%;
}

input[type="submit"] {
    align-self: center;
    border: thick solid #49D49D;
    outline-color: #49D49D;
    background-color: #49D49D;
    color: black;
    cursor: pointer;
    padding: 0.05em;
}

.homepage {
    position: relative;
    top: 25%;
}

.transcript-page {
    max-width: 700px;
    font-size: 15pt;
    margin-right: auto;
    margin-left: auto;
}

.search-page {
    max-width: 800px;
    font-size: 15pt;
    margin-right: auto;
    margin-left: auto;
}

.search-page img {
    margin-bottom: 10px;
    margin-right: 10px;
}

.playback-speed-section {
    display: none;
}